:root {
  --main-black-color: #000000;
  --main-white-color: #ffffff;
  --accent-color: #2196f3;
  --dark-main-color: #212121;
  --text-color: #757575;
  --main-footer-color: #2f303a;
  --background-primary-gray: #f5f4fa;
  --background-primary-darck: rgba(47, 48, 58, 0.8);
  --logo-company-color: #afb1b8;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul {
  margin: 0px;
  padding-left: 0px;
}

.header-link {
  cursor: pointer;
}

address {
  font-style: normal;
}

body {
  font-family: Roboto, sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--dark-main-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}

.nav-main {
  display: flex;
  align-items: center;
}

.head-contacts {
  margin-left: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.web-logo {
  color: var(--accent-color);
}

.studio-logo {
  color: black;
}

.header-logo {
  margin-right: 93px;
}

.item:not(:last-child) {
  margin-right: 50px;
}

.item-nav {
  margin-right: 50px;
}

.header-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: var(--dark-main-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  position: relative;
  color: #2196f3;
}

.current::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 4px;
  bottom: -0.5px;
  left: 0;
  bottom: -29px;
  background-color: var(--accent-color);
  border: none;
  border-radius: 2px;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-tell {
  display: flex;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-tell:hover,
.header-tell:focus {
  color: #2196f3;
}

.link-mail {
  display: flex;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-mail:hover,
.link-mail:focus {
  color: #2196f3;
}

.link-mail:hover .icon,
.link-mail:focus .icon {
  fill: #2196f3;
}

.icon {
  display: inline-flex;
  fill: currentColor;
  margin-right: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foot-adress {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address .foas {
  display: inline-block;
  margin-bottom: 9px;
}

/* -------портфоліо-------- */

.menu {
  padding-top: 94px;
  padding-bottom: 94px;
}

.button-logo {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--dark-main-color);
}

.button-logo {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  list-style: none;
  font-style: normal;
}

.button-logo .item:not(:last-child) {
  margin-right: 8px;
}

.button-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  border: 0px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-item {
  padding: 6px 22px;
}

.button-item:hover,
.button-item:focus {
  color: var(--main-white-color);
  background-color: var(--accent-color);
}

/* body */

/* button */

.title-button {
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  color: var(--main-white-color);
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button-one {
  background-color: var(--main-footer-color);
  padding: 200px 0;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background.jpg);
}

/* .button-one > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

.btn {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-white-color);
  background-color: var(--accent-color);
  padding: 10px 32px;
  min-width: 216px;
  height: 50px;
  border: none;
  outline: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* about */

.about {
  padding-top: 94px;
  padding-bottom: 94px;
}

.about-pre-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark-main-color);
}

.about-title {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.about-list {
  display: flex;
  gap: 30px;
}

.about-item {
  width: calc((100% - 30px) / 4);
}

.item-list:not(:last-child) {
  margin-right: 30px;
}

.about-pre-title {
  margin-top: 0px;
  margin-bottom: 10px;
}

.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--background-primary-gray);
}

/* whoweare */
.whoweare {
  background-color: var(--main-white-color);
}

.whoweare-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-main-color);
}

.whoweare > .whoweare-title > .whoweare-list {
  display: flex;
}

.whoweare {
  padding-bottom: 94px;
}

.whoweare .whoweare-title {
  justify-content: center;
  margin-bottom: 50px;
}
.whoweare .whoweare-list {
  display: flex;
}

.menu-logo {
  background: var(--accent-color);
}

.item-list {
  position: relative;
}

.text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/*team*/
.teamphoto-list {
  display: flex;
  gap: 30px;
}

.team .whoweare-title {
  justify-content: center;
  margin-bottom: 50px;
}

.team-photo {
  width: calc(100% - 60px / 3);
  background-color: var(--main-white-color);
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 0px 0px 4px 4px;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--background-primary-gray);
}

.teamdiv {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-main-color);
  margin-bottom: 10px;
}

.team-soc {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-soc-link {
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--accent-color);
}

.team-soc-link:hover .team-soc-icon,
.team-soc-link:focus .team-soc-icon {
  fill: #ffffff;
}

.team-soc-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  color: var(--text-color);
}

/* marketing */
.footmain {
  background-color: #2f303a;
}

.title-marketing {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--dark-main-color);
}

.marketing-pre {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.marketing-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  flex-grow: 1 1 1;
  /* width: calc(100% - 60px / 3); */
}

.marketing-wrap {
  position: relative;
  overflow: hidden;
}

.marketing-item {
  display: block;
  max-width: 370px;
}

.marketing-item:hover .marketing-text {
  transform: translateY(0%);
}

.marketing-item:hover,
.marketing-item:focus {
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
}

.markdiv {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.marketing-text {
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--main-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 27px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms linear;
  overflow: auto;
}

/* ----------постійні кліенти-------- */

.clients {
  padding-bottom: 94px;
  padding-top: 94px;
}

.clients-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
  color: #212121;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.clients-item {
  height: 92px;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  color: var(--logo-company-color);
  border: 1px solid var(--logo-company-color);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-btn {
  fill: var(--logo-company-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  fill: #2196f3;
  border-color: var(--accent-color);
}

.clients-link:hover .clients-btn,
.clients-link:focus .clients-btn {
  fill: var(--accent-color);
}

/* --------footer---------- */

.studio-logofoot {
  color: var(--main-white-color);
}

.map-google {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-white-color);
}

.footmain {
  padding: 60px;
}

.web {
  display: inline-block;
  margin-bottom: 20px;
}

/* -------join------- */
.joinn {
  display: flex;
  gap: 70px;
  align-items: baseline;
}

.welcome-title {
  display: block;
  margin: 0;
  margin-bottom: 20px;
  color: var(--main-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;
}

.team-soc-join {
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-join:hover,
.team-soc-join:focus {
  background-color: var(--accent-color);
}
.team-soc-icon1 {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: white;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-join:hover .team-soc-icon1,
.team-soc-join:focus .team-soc-icon1 {
  fill: #ffffff;
}

/* -------форма підписки--------- */
/* .form-footer {
  margin-left: auto;
} */

.footer-form > .link-button {
  display: flex;
  align-items: center;
}

.join-icon {
  display: inline-block;
  margin-left: 10px;
  fill: var(--main-white-color);
}

.footer-form {
  display: flex;
  width: 570px;
  flex-direction: row;
  justify-content: space-between;
}

.footer-form input[type="email"] {
  min-width: 358px;
  height: 50px;
  margin-right: 12px;
  background: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
  padding: 12px 16px;
  font-size: 16px;
  line-height: 1.87;
  color: rgba(255, 255, 255, 0.6);
}

.link-button {
  border: 1px solid transparent;
  padding: 10px 32px;
  min-width: 200px;
  min-height: 50px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 4px;
  cursor: pointer;
  color: var(--main-white-color);
  background-color: var(--accent-color);
  outline: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.06em;
}

/* --------modal--------- */

.modal {
  position: absolute;
  min-height: 581px;
  width: 528px;
  background-color: #ffffff;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition: transform 250ms;
  padding: 40px;
}

.backdrop {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  color: rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms linear, visibility 250ms;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(-180deg);
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  color: #ffffff;
  border: rgba(0, 0, 0, 0.1);
  background-color: transparent;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-modal {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border-radius: 50%;
}

/* --------form---------- */

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-bottom: 30px;
}

.form-input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  font-weight: 400;
  font-size: 12px;
  line-height: 0.8;
  letter-spacing: 0.01em;
  color: #757575;
}

/* .form-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
} */

.input-wrap {
  position: relative;
}

.input-field {
  margin-bottom: 28px;
}

.form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
}

/* .form-input:focus +.input-title{
  transform: translateY(-50%);
} */

.error {
  display: none;
}

.input-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 0.8;
  letter-spacing: 0.01em;
  color: var(--text-color);
  display: block;
  margin-bottom: 4px;
  left: 42px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  outline-color: rgba(33, 150, 243, 1);
}

.form-input:focus + .form-icon {
  fill: rgba(33, 150, 243, 1);
}

.modal-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 0.8;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.send-btn {
  display: inline-block;
  background: #188ce8;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 10px 52px;
  min-width: 200px;
  min-height: 50px;
  cursor: pointer;
  outline: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-decoration: none;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  text-align: center;
}

.chekbox-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.chekbox-text span {
  display: flex;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border-radius: 4px;
  cursor: pointer;
  fill: solid 212121;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-che {
  border: 2px solid;
  border-color: var(--dark-main-color);
  fill: var(--main-white-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox {
  fill: var(--dark-main-color);
}

.modal-link {
  color: rgba(33, 150, 243, 1);
  text-decoration: underline;
}

.chek-link {
  padding-left: 3px;
}


.input-che:checked + .chekbox-text span {
  background-color: var(--accent-color);
  border-color: transparent;
}

.input-che:checked + .chekbox-text .icon-che {
  background-color: var(--accent-color);
  border: none;
  fill: var(--main-white-color);
}

.input-che:focus + .chekbox-text span {
  border-color: var(--accent-color);
}
/* .form-input:not(:focus):not(:placeholder-shown):valid {
  display: block;
} */
